@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:300,400,500,700");

body {
  background-color: #FAFAFA;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-image: url(images/background.jpeg);
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #273043;
}

h1 {
  font-size: 16px;
  border-bottom: 2px solid #2eaeaf;
  display: inline-block;
  margin-bottom: 25px;
}

h2 {
  font-size: 16px;
  border-bottom: 2px solid #2eaeaf;
  display: inline-block;
  margin-bottom: 15px;
}


p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 40px;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

a:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #2eaeaf;
}

.icons {
  font-size: 20px;
  color: #171757;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

img {
  width:100px;
  height:100px;
  background-size:contain;
  background-position:center;
  border-radius:50%;
}

.img-shadow {
  box-shadow: 1px 1px 1px #d6d6d6;
}


ul {
  padding: 0px;
}

.container {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.profile-card {
  text-align: center;
  background: #D7D7D7;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
 }

.btn {
  background-color: #171757;
  color: #e6e6e6;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 8px;
}

.btn:hover {
  background-color: #2eaeaf;
  color: #e6e6e6;
  font-weight: bold;
}

@media (max-width: 960px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 450px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
